@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <div class="container-fluid">
        <div class="col-sm-8 col-sm-offset-2">

            <div class="wizard-container">
                <div class="card wizard-card" data-color="green" id="wizardProfile">
                    <form novalidate="novalidate" class="ng-untouched ng-pristine ng-valid">
                        <div class="wizard-header">
                            <h3 class="wizard-title">
                                Giới thiệu
                            </h3>
                            <h5>Hệ thống quản lý thư viện điện tử trường ĐH Hồng Đức</h5>
                            <h1></h1>
                            <div align="justify" style="padding:20px">
                                <p>
                                    Thư viện Quốc gia Việt Nam đã, đang và sẽ phấn đấu không ngừng để trở thành <strong><em>nơi lưu truyền tri thức và khơi nguồn cảm hứng</em></strong> thực sự tin cậy, thân thiện của bạn đọc trong và ngoài nước, có uy tín và vị thế xứng đáng trong cộng đồng thư viện Việt Nam, khu vực và thế giới. Để hoàn thành tốt các mục tiêu này, Thư viện Quốc gia Việt Nam sẽ tập trung thực hiện.
                                </p>
                                <p>
                                    <em><strong>Thứ nhất:</strong></em> Tăng cường công tác thu thập, bảo tồn, phát huy di sản văn hóa chữ viết và xây dựng Bảo tàng tư liêu Việt Nam (trên các chất liệu: đất nung, đá, gốm, sứ, lá, gỗ, tre, nứa, giấy, đồng... ).
                                </p>
                                <p>
                                    <em><strong>Thứ hai</strong>:</em> Tiếp tục làm tốt công tác bồi dưỡng, rèn luyện, nâng cao năng lực chuyên môn, giáo dục phẩm chất nghề nghiệp, lòng yêu nghề, tinh thần trách nhiệm, tâm huyết với công việc cho mỗi viên chức và người lao động.
                                </p>
                                <p>
                                    <em><strong>Thứ ba</strong>:</em> Phát triển theo hướng xây dựng thư viện truyền thống - thư viện hiện đại - thư viện số, trong đó việc ứng dụng công nghệ thông tin để lưu giữ, khai thác tài nguyên thông tin là xu hướng quan trọng để phát triển, tiến tới hình thành mạng lưới thư viện truyền thống – thư viện hiện đại – thư viện số rộng khắp trong cả nước.
                                </p>
                                <p>
                                    <em><strong>Thứ tư:</strong></em> Xây dựng môi trường đọc thân thiện, sáng tạo, tạo môi trường học, đọc suốt đời cho mọi người dân. Hướng tới mục tiêu chung “Tất cả vì bạn đọc” bằng nhiều phương thức phục vụ, như đọc tại trụ sở thư viện, đọc trên mạng thông qua website của Thư viện Quốc gia Việt Nam.
                                </p>
                                <p>
                                    <em><strong>Thứ năm</strong>:</em> Phối hợp chặt chẽ với các Ban, Bộ, ngành, với cộng đồng Thư viện, Thông tin trong nước và quốc tế để thực hiện tốt mục tiêu <strong><em>Thống nhất, chuẩn hoá, chia sẻ và hội nhập </em></strong>nâng cao chất lượng về chuyên môn, nghiệp vụ.
                                </p>
                                <p>
                                    <em><strong>Thứ sáu</strong>:</em> Mở rộng hợp tác quốc tế trong việc trao đổi tài liệu, kinh nghiệm tổ chức và quản lý thư viện hiện đại, đào tạo nguồn nhân lực đáp ứng yêu cầu của thời đại “kinh tế tri thức” hay “tri thức phục vụ phát triển kinh tế - xã hội”.
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>