@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-10">
            <ul class="timeline timeline-simple">
                <li class="timeline-inverted">
                    <div class="timeline-badge success">
                        <i class="material-icons">card_travel</i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <span class="label label-success">Thông báo số 1 về Hội thảo Quốc gia lần thứ XXI: Một số vấn đề chọn lọc của CNTT&TT</span>
                        </div>
                        <div class="timeline-body">
                            <p>
                                Hội thảo Quốc gia lần thứ XXI "Một số vấn đề chọn lọc của Công nghệ thông tin và Truyền thông" do Viện Công nghệ thông tin - Viện Hàn lâm Khoa học và Công nghệ Việt Nam và Trường Đại học Hồng Đức, đồng tổ chức tại thành phố Thanh Hóa - tỉnh Thanh Hóa từ ngày 27 đến ngày 28 tháng 7 năm 2018. Hội thảo là diễn đàn thường niên để những người làm công tác nghiên cứu, triển khai, giảng dạy và quản lý trong lĩnh vực công nghệ thông tin và truyền thông trao đổi học thuật, chia sẻ kinh nghiệm ứng dụng và tìm kiếm sự hợp tác. Đặc biệt hội thảo khuyến khích các nhà khoa học trẻ, nghiên cứu sinh, học viên cao học tham gia báo cáo trao đổi kết quả nghiên cứu và học tập của mình. Hội thảo khuyến khích trưng bày giới thiệu các sản phẩm khoa học công nghệ và những kết quả nghiên cứu ứng dụng vào thực tiễn.
                            </p>
                        </div>
                        <h6>
                            <i class="ti-time"></i> 11 giờ trước
                        </h6>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge success">
                        <i class="material-icons">extension</i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <span class="label label-success">Tổng kết hoạt động khoa học và công nghệ năm học 2016-2017</span>
                        </div>
                        <div class="timeline-body">
                            <p>
                                Chiều ngày 12/05/2016 Khoa CNTT&TT đã tổ chức hội nghị tổng kết hoạt động khoa học và công nghệ (KHCN) năm học 2016-2017 và đề ra phương hướng nhiệm vụ KHCN trong năm học 2017-2018. Hội nghị đã tổng kết những kết quả đã đạt được trong năm học 2016-2017 và chỉ ra các hạn chế còn tồn tại; định hướng và đề xuất giải pháp nâng cao hiệu quả công tác NCKH trong năm học 2017-2018. Tới dự hội nghị nhiều giảng viên đã đóng góp nhiều ý kiến tâm huyết, hữu ích nhằm nâng cao chất lượng NCKH và phát triển công nghệ cho năm học tới.
                            </p>
                        </div>
                        <h6>
                            <i class="ti-time"></i> 03/04/2018
                        </h6>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>